*/*/*.pyc
*/*/*__init__.py
*/*/.*swp
*/*/.*swo
DataFormats/scripts/*.root
PlottingTools/HADD*/*
PlottingTools/*.err
PlottingTools/*.out
PlottingTools/Plots*/*
CutFlowAnalyzer/*/*/crab_projects
CutFlowAnalyzer/*/*/*.pyc
CutFlowAnalyzer/test/DATA_MINIAODtoNtuple/check_crab.sh
CutFlowAnalyzer/test/DATA_MINIAODtoNtuple/for_plotter.py
CutFlowAnalyzer/test/DATA_MINIAODtoNtuple/out_ana.root
CutFlowAnalyzer/test/DATA_MINIAODtoNtuple/resub_crab.sh
CutFlowAnalyzer/test/MC_MINIAODtoNtuple/check_crab.sh
CutFlowAnalyzer/test/MC_MINIAODtoNtuple/crab.log
CutFlowAnalyzer/test/MC_MINIAODtoNtuple/for_plotter.py
CutFlowAnalyzer/test/MC_MINIAODtoNtuple/out_ana.root
MCProduction/python/LHC-HH-bbWW-B3-LeptonW.run
MCProduction/python/LHC.hepmc
MCProduction/python/LHC.log
MCProduction/python/LHC.out
MCProduction/python/LHC.tex
MCProduction/python/out_sim.root
MCProduction/python/HerwigConfig/__*__.py*
Regression/*.root
Regression/*_C.d
Regression/*.pcm
Regression/weights/*.xml
Regression/*_C.so
Regression/plots/*
MVA_Studies/weights*
MVA_Studies/*.root
MVA_Studies/files/
Regression/*.txt
